In [38]:
import pandas as pd
import numpy as np

In [39]:
df_movies = pd.read_csv('../data/crudo/movies_dataset.csv')

C:\Users\elian\AppData\Local\Temp\ipykernel_7360\1302902186.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies = pd.read_csv('../data/crudo/movies_dataset.csv')

In [40]:
df_movies.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [41]:
df_movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [42]:
df_movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

Creo una función para verificar si alguna columna tiene datos anidados

In [43]:
import ast

def is_nested(column):
    try:
        sample = column.dropna().iloc[0]
        converted = ast.literal_eval(sample)
        return isinstance(converted, (dict, list))
    except (ValueError, SyntaxError, IndexError):
        return False

# Verifica si las columnas son aptas para desanidar
nested_columns = [col for col in df_movies.columns if is_nested(df_movies[col])]
print("Columnas aptas para desanidar:", nested_columns)

Columnas aptas para desanidar: ['belongs_to_collection', 'genres', 'production_companies', 'production_countries', 'spoken_languages']

Verifico cada columna a desanidar

In [44]:
df_movies['belongs_to_collection'].head()

0    {'id': 10194, 'name': 'Toy Story Collection', ...
1                                                  NaN
2    {'id': 119050, 'name': 'Grumpy Old Men Collect...
3                                                  NaN
4    {'id': 96871, 'name': 'Father of the Bride Col...
Name: belongs_to_collection, dtype: object

In [45]:
df_movies['genres'].head()

0    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2    [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                       [{'id': 35, 'name': 'Comedy'}]
Name: genres, dtype: object

In [46]:
df_movies['production_companies'].head()

0       [{'name': 'Pixar Animation Studios', 'id': 3}]
1    [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2    [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
3    [{'name': 'Twentieth Century Fox Film Corporat...
4    [{'name': 'Sandollar Productions', 'id': 5842}...
Name: production_companies, dtype: object

In [47]:
df_movies['production_countries'].head()

0    [{'iso_3166_1': 'US', 'name': 'United States o...
1    [{'iso_3166_1': 'US', 'name': 'United States o...
2    [{'iso_3166_1': 'US', 'name': 'United States o...
3    [{'iso_3166_1': 'US', 'name': 'United States o...
4    [{'iso_3166_1': 'US', 'name': 'United States o...
Name: production_countries, dtype: object

In [48]:
df_movies['spoken_languages'].head()

0             [{'iso_639_1': 'en', 'name': 'English'}]
1    [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2             [{'iso_639_1': 'en', 'name': 'English'}]
3             [{'iso_639_1': 'en', 'name': 'English'}]
4             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, dtype: object

Creo una función para convertir cadenas a diccionarios o listas de manera segura

In [49]:
def safe_convert(value):
    try:
        return ast.literal_eval(value)
    except (ValueError, SyntaxError):
        return {}

# Convierto y desanido las columnas aptas
df_movies['belongs_to_collection'] = df_movies['belongs_to_collection'].apply(lambda x: safe_convert(x) if pd.notnull(x) and x != 'nan' else {})
df_movies['genres'] = df_movies['genres'].apply(lambda x: safe_convert(x) if pd.notnull(x) and x != 'nan' else [])
df_movies['production_companies'] = df_movies['production_companies'].apply(lambda x: safe_convert(x) if pd.notnull(x) and x != 'nan' else [])
df_movies['production_countries'] = df_movies['production_countries'].apply(lambda x: safe_convert(x) if pd.notnull(x) and x != 'nan' else [])
df_movies['spoken_languages'] = df_movies['spoken_languages'].apply(lambda x: safe_convert(x) if pd.notnull(x) and x != 'nan' else [])

Creo DataFrames separados para cada columna desanidada

In [50]:
# DataFrame para belongs_to_collection
df_belongs_to_collection = pd.json_normalize(df_movies['belongs_to_collection'])
df_belongs_to_collection['id'] = df_movies['id']  # Agrego columna 'id' para unir más tarde

# DataFrame para genres
df_genres = df_movies.explode('genres').reset_index(drop=True)
df_genres = pd.concat([df_genres['id'], pd.json_normalize(df_genres['genres'])], axis=1)

# DataFrame para production_companies
df_production_companies = df_movies.explode('production_companies').reset_index(drop=True)
df_production_companies = pd.concat([df_production_companies['id'], pd.json_normalize(df_production_companies['production_companies'])], axis=1)

# DataFrame para production_countries
df_production_countries = df_movies.explode('production_countries').reset_index(drop=True)
df_production_countries = pd.concat([df_production_countries['id'], pd.json_normalize(df_production_countries['production_countries'])], axis=1)

# DataFrame para spoken_languages
df_spoken_languages = df_movies.explode('spoken_languages').reset_index(drop=True)
df_spoken_languages = pd.concat([df_spoken_languages['id'], pd.json_normalize(df_spoken_languages['spoken_languages'])], axis=1)

Elimino filas duplicadas de cada dataframe

In [51]:
print(f'Tamaño de df_belongs_to_collection antes de eliminar filas duplicadas:{df_belongs_to_collection.shape}')
df_belongs_to_collection = df_belongs_to_collection.drop_duplicates()
print(f'Tamaño de df_belongs_to_collection despues de eliminar filas duplicadas:{df_belongs_to_collection.shape}')
print('---------')
print(f'Tamaño de df_genres antes de eliminar filas duplicadas:{df_genres.shape}')
df_genres = df_genres.drop_duplicates()
print(f'Tamaño de df_genres despues de eliminar filas duplicadas:{df_genres.shape}')
print('---------')
print(f'Tamaño de df_production_companies antes de eliminar filas duplicadas:{df_production_companies.shape}')
df_production_companies = df_production_companies.drop_duplicates()
print(f'Tamaño de df_production_companies despues de eliminar filas duplicadas:{df_production_companies.shape}')
print('---------')
print(f'Tamaño de df_production_countries antes de eliminar filas duplicadas:{df_production_countries.shape}')
df_production_countries = df_production_countries.drop_duplicates()
print(f'Tamaño de df_production_countries despues de eliminar filas duplicadas:{df_production_countries.shape}')
print('---------')
print(f'Tamaño de df_spoken_languages antes de eliminar filas duplicadas:{df_spoken_languages.shape}')
df_spoken_languages = df_spoken_languages.drop_duplicates()
print(f'Tamaño de df_spoken_languages despues de eliminar filas duplicadas:{df_spoken_languages.shape}')

Tamaño de df_belongs_to_collection antes de eliminar filas duplicadas:(45466, 4)
Tamaño de df_belongs_to_collection despues de eliminar filas duplicadas:(45436, 4)
---------
Tamaño de df_genres antes de eliminar filas duplicadas:(93548, 3)
Tamaño de df_genres despues de eliminar filas duplicadas:(93469, 3)
---------
Tamaño de df_production_companies antes de eliminar filas duplicadas:(82426, 3)
Tamaño de df_production_companies despues de eliminar filas duplicadas:(82338, 3)
---------
Tamaño de df_production_countries antes de eliminar filas duplicadas:(55711, 3)
Tamaño de df_production_countries despues de eliminar filas duplicadas:(55653, 3)
---------
Tamaño de df_spoken_languages antes de eliminar filas duplicadas:(57135, 3)
Tamaño de df_spoken_languages despues de eliminar filas duplicadas:(57099, 3)

Exporto los DataFrames nuevos a archivos CSV externos

In [52]:
# Exportar cada DataFrame a un archivo CSV
df_belongs_to_collection.to_csv('belongs_to_collection.csv', index=False)
df_genres.to_csv('genres.csv', index=False)
df_production_companies.to_csv('production_companies.csv', index=False)
df_production_countries.to_csv('production_countries.csv', index=False)
df_spoken_languages.to_csv('spoken_languages.csv', index=False)

Agrupo los DataFrames en el dataset principal

In [53]:
# Cargo los DataFrames exportados
df_belongs_to_collection = pd.read_csv('belongs_to_collection.csv')
df_genres = pd.read_csv('genres.csv')
df_production_companies = pd.read_csv('production_companies.csv')
df_production_countries = pd.read_csv('production_countries.csv')
df_spoken_languages = pd.read_csv('spoken_languages.csv')


# Uno los DataFrames al dataset principal usando la columna 'id' como clave
df_movies_merged = df_movies.drop(columns=['belongs_to_collection', 'genres', 'production_companies', 'production_countries', 'spoken_languages'])

# Merge para 'belongs_to_collection'
df_belongs_to_collection.rename(columns={'name': 'collection_name'}, inplace=True)
df_movies_merged = pd.merge(df_movies_merged, df_belongs_to_collection[['id', 'collection_name']], on='id', how='left')

# Merge para 'genres'
df_genres.rename(columns={'name': 'genre_name'}, inplace=True)
df_movies_merged = pd.merge(df_movies_merged, df_genres[['id', 'genre_name']], on='id', how='left')

# Merge para 'production_companies'
df_production_companies.rename(columns={'name': 'production_company_name'}, inplace=True)
df_movies_merged = pd.merge(df_movies_merged, df_production_companies[['id', 'production_company_name']], on='id', how='left')

# Merge para 'production_countries'
df_production_countries.rename(columns={'name': 'production_country_name'}, inplace=True)
df_movies_merged = pd.merge(df_movies_merged, df_production_countries[['id', 'production_country_name']], on='id', how='left')

# Merge para 'spoken_languages'
df_spoken_languages.rename(columns={'name': 'spoken_language_name'}, inplace=True)
df_movies_merged = pd.merge(df_movies_merged, df_spoken_languages[['id', 'spoken_language_name']], on='id', how='left')

In [54]:
df_movies_merged.head()

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,tagline,title,video,vote_average,vote_count,collection_name,genre_name,production_company_name,production_country_name,spoken_language_name
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,Animation,Pixar Animation Studios,United States of America,English
1,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,Comedy,Pixar Animation Studios,United States of America,English
2,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,Family,Pixar Animation Studios,United States of America,English
3,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,Adventure,TriStar Pictures,United States of America,English
4,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,Adventure,TriStar Pictures,United States of America,Français

In [55]:
df_movies_merged.info

<bound method DataFrame.info of         adult    budget                              homepage      id  \
0       False  30000000  http://toystory.disney.com/toy-story     862
1       False  30000000  http://toystory.disney.com/toy-story     862
2       False  30000000  http://toystory.disney.com/toy-story     862
3       False  65000000                                   NaN    8844
4       False  65000000                                   NaN    8844
...       ...       ...                                   ...     ...
419774  False         0                                   NaN   67758
419775  False         0                                   NaN   67758
419776  False         0                                   NaN   67758
419777  False         0                                   NaN  227506
419778  False         0                                   NaN  461257

          imdb_id original_language       original_title  \
0       tt0114709                en            Toy Story
1       tt0114709                en            Toy Story
2       tt0114709                en            Toy Story
3       tt0113497                en              Jumanji
4       tt0113497                en              Jumanji
...           ...               ...                  ...
419774  tt0303758                en             Betrayal
419775  tt0303758                en             Betrayal
419776  tt0303758                en             Betrayal
419777  tt0008536                en  Satana likuyushchiy
419778  tt6980792                en             Queerama

                                                 overview popularity  \
0       Led by Woody, Andy's toys live happily in his ...  21.946943
1       Led by Woody, Andy's toys live happily in his ...  21.946943
2       Led by Woody, Andy's toys live happily in his ...  21.946943
3       When siblings Judy and Peter discover an encha...  17.015539
4       When siblings Judy and Peter discover an encha...  17.015539
...                                                   ...        ...
419774  When one of her hits goes wrong, a professiona...   0.903007
419775  When one of her hits goes wrong, a professiona...   0.903007
419776  When one of her hits goes wrong, a professiona...   0.903007
419777  In a small town live two brothers, one a minis...   0.003503
419778  50 years after decriminalisation of homosexual...   0.163015

                             poster_path  ...  \
0       /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...
1       /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...
2       /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...
3       /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  ...
4       /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  ...
...                                  ...  ...
419774  /d5bX92nDsISNhu3ZT69uHwmfCGw.jpg  ...
419775  /d5bX92nDsISNhu3ZT69uHwmfCGw.jpg  ...
419776  /d5bX92nDsISNhu3ZT69uHwmfCGw.jpg  ...
419777  /aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg  ...
419778  /s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg  ...

                                          tagline             title  video  \
0                                             NaN         Toy Story  False
1                                             NaN         Toy Story  False
2                                             NaN         Toy Story  False
3       Roll the dice and unleash the excitement!           Jumanji  False
4       Roll the dice and unleash the excitement!           Jumanji  False
...                                           ...               ...    ...
419774                     A deadly game of wits.          Betrayal  False
419775                     A deadly game of wits.          Betrayal  False
419776                     A deadly game of wits.          Betrayal  False
419777                                        NaN  Satan Triumphant  False
419778                                        NaN          Queerama  False

       vote_average vote_count       collection_name genre_name  \
0               7.7     5415.0  Toy Story Collection  Animation
1               7.7     5415.0  Toy Story Collection     Comedy
2               7.7     5415.0  Toy Story Collection     Family
3               6.9     2413.0                   NaN  Adventure
4               6.9     2413.0                   NaN  Adventure
...             ...        ...                   ...        ...
419774          3.8        6.0                   NaN     Action
419775          3.8        6.0                   NaN      Drama
419776          3.8        6.0                   NaN   Thriller
419777          0.0        0.0                   NaN        NaN
419778          0.0        0.0                   NaN        NaN

        production_company_name   production_country_name spoken_language_name
0       Pixar Animation Studios  United States of America              English
1       Pixar Animation Studios  United States of America              English
2       Pixar Animation Studios  United States of America              English
3              TriStar Pictures  United States of America              English
4              TriStar Pictures  United States of America             Français
...                         ...                       ...                  ...
419774  American World Pictures  United States of America              English
419775  American World Pictures  United States of America              English
419776  American World Pictures  United States of America              English
419777                Yermoliev                    Russia                  NaN
419778                      NaN            United Kingdom              English

[419779 rows x 24 columns]>

In [56]:
df_movies_merged.shape

(419779, 24)

In [57]:
df_movies_merged.columns

Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'collection_name', 'genre_name',
       'production_company_name', 'production_country_name',
       'spoken_language_name'],
      dtype='object')

In [58]:
df_movies_merged.columns

Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'collection_name', 'genre_name',
       'production_company_name', 'production_country_name',
       'spoken_language_name'],
      dtype='object')

In [59]:
df_movies['genres'].iloc[0]

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [60]:
df_movies_merged['genre_name'].iloc[0]

'Animation'

In [61]:
df_movies_merged['id'].iloc[3]

'8844'

Relleno los valores nulos en 'revenue' y 'budget' con 0

In [62]:
df_movies_merged['revenue'] = df_movies_merged['revenue'].fillna(0)
df_movies_merged['budget'] = df_movies_merged['budget'].fillna(0)

Elimino las filas con valores nulos en 'release_date'

In [63]:
df_movies_merged = df_movies_merged.dropna(subset=['release_date'])

Formateo fechas y extraigo el año en una nueva columna. En la segunda linea elimino cualquier fila que no pudo ser convertida a fecha

In [64]:
df_movies_merged['release_date'] = pd.to_datetime(df_movies_merged['release_date'], format='%Y-%m-%d', errors='coerce')
df_movies_merged = df_movies_merged.dropna(subset=['release_date'])
df_movies_merged['release_year'] = df_movies_merged['release_date'].dt.year

C:\Users\elian\AppData\Local\Temp\ipykernel_7360\2435324582.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies_merged['release_date'] = pd.to_datetime(df_movies_merged['release_date'], format='%Y-%m-%d', errors='coerce')

Primero convierto las columnas 'revenue' y 'budget' a valores numéricos

In [65]:
df_movies_merged['revenue'] = pd.to_numeric(df_movies_merged['revenue'], errors='coerce')
df_movies_merged['budget'] = pd.to_numeric(df_movies_merged['budget'], errors='coerce')

Creo la columna 'return' y calculo el retorno de inversión

In [66]:
df_movies_merged['return'] = df_movies_merged.apply(lambda row: row['revenue'] / row['budget'] if row['budget'] > 0 else 0, axis=1)

In [67]:
df_movies_merged.head()

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,video,vote_average,vote_count,collection_name,genre_name,production_company_name,production_country_name,spoken_language_name,release_year,return
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,False,7.7,5415.0,Toy Story Collection,Animation,Pixar Animation Studios,United States of America,English,1995,12.451801
1,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,False,7.7,5415.0,Toy Story Collection,Comedy,Pixar Animation Studios,United States of America,English,1995,12.451801
2,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,False,7.7,5415.0,Toy Story Collection,Family,Pixar Animation Studios,United States of America,English,1995,12.451801
3,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,False,6.9,2413.0,NaN,Adventure,TriStar Pictures,United States of America,English,1995,4.043035
4,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,False,6.9,2413.0,NaN,Adventure,TriStar Pictures,United States of America,Français,1995,4.043035

Elimino las columnas innecesarias

In [68]:
df_movies_merged = df_movies_merged.drop(columns=['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage'])

In [77]:
df_movies_merged.columns

Index(['budget', 'id', 'original_language', 'overview', 'popularity',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'collection_name', 'genre_name',
       'production_company_name', 'production_country_name',
       'spoken_language_name', 'release_year', 'return'],
      dtype='object')

In [78]:
df_movies_merged.isna().sum()

budget                     0
id                         0
original_language          0
overview                   0
popularity                 0
release_date               0
revenue                    0
runtime                    0
status                     0
tagline                    0
title                      0
vote_average               0
vote_count                 0
collection_name            0
genre_name                 0
production_company_name    0
production_country_name    0
spoken_language_name       0
release_year               0
return                     0
dtype: int64

In [79]:
df_movies_merged.dropna(inplace=True)
df_movies_merged.shape

(36975, 20)

In [80]:
df_movies_merged.shape

(36975, 20)

Convierto Columnas a Tipos Numéricos

In [82]:
df_movies_merged['popularity'] = pd.to_numeric(df_movies_merged['popularity'], errors='coerce')

In [83]:
print(df_movies_merged['popularity'].isnull().sum())

0

Guardo el dataframe transformado

In [86]:
# Exporto en archivo Parquet
df_movies_merged.to_parquet('../data/procesado/movies_pilabs.parquet', engine='pyarrow')